@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-dots {
  display: inline-block;
  width: 20px;
  text-align: left;
  margin-left: 4px;
}

.loading-dots::after {
  content: '...';
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60%, 100% {
    content: '...';
  }
}